<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body ng-app="deliApp">

  <div ng-controller="deliCtrl">
    <button ng-click="makeTicket()">Create Ticket</button>
    <br>
    <input type="text" ng-model="number">
    <br>
    <li ng-repeat="ticket in tickets.tickets | filter:number">{{ticket}}</li>
  </div>
  <script src="js/vendor/angular/angular.js"></script>
  <script src="js/vendor/angular-route/angular-route.js"></script>
  <script src="js/vendor/angular-resource/angular-resource.js"></script>
  <script src="js/vendor/angular-sanitize/angular-sanitize.js"></script>
  <script src="js/deliApp.js"></script>
  <script src="js/deliController.js"></script>
</body>
</html>